<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_thu_vien.Properties.Settings.QuanLyThuVienConnectionString"
            connectionString="Data Source=DESKTOP-LH8DQNE\SQLEXPRESS;Initial Catalog=QuanLyThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_thu_vien.Properties.Settings.QuanLyThuVienConnectionString1"
            connectionString="Data Source=TIGERTRAN\SQLEXPRESS;Initial Catalog=QuanLyThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>